<a href="https://colab.research.google.com/github/amit4888/Amit-Kumar/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Question 1: Array Operations

# a) Create an array named numbers containing 10 integer values.

import array
from array import *

arr1 = array('i',[1,2,3,4,5,6,7,8,9,10])
print(arr1)

print(type(arr1))

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
<class 'array.array'>

In [ ]:
# b) Calculate and display the sum of all the numbers in the array.

import array
from array import *
arr2 = array('i',[1,2,3,4,5])
sum = 0
for elements in arr2:
    sum = sum + elements
print("The sum is : ", sum)

The sum is :  15

In [ ]:
# c) Calculate and display the average of the numbers

import array
from array import *
arr3 = array('i',[10,20,30,40,50])

sum = 0
for elements in arr3:
    sum += elements
print(sum)
n = len(arr3)   # can also use, print(len(arr3))
print(n)

print("THE AVERAGE IS : ", sum)

150
5
THE AVERAGE IS :  150

In [ ]:
# d) Find and display the maximum and minimum values in the array

# how to solve this ques.
# step 1 : sort array
# step 2 : print 1 element
# conclusion : In this way the first element in array is always min AND LAST IS MAX.


import array
from array import *
#defining a funtion
def pairwise_swap(arr):
    n=len(arr)
    for i in range(0, n-1):
        for j in range (0, n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]


# ending the function
# Defining the array

arr1 = array('i',[100,99,58,45,34,21,23,56,78,54])

# calling the function

pairwise_swap(arr1)
print(arr1)

print("min is : ",arr1[0])
print("max is : ",arr1[-1])

array('i', [21, 23, 34, 45, 54, 56, 58, 78, 99, 100])
min is :  21
max is :  100

In [ ]:
# Question 2: Array Manipulation

# a) Create an array of 8 names

import array
from array import *
arr8 = array('i',[1,2,3,4,5,6,7,8])
print("The original array : ",arr8)


# b) Add two more names to the array.

arr8.append(9)
arr8.append(10)
print("\nAfter add two elements : ", arr8)


# c) Replace the 4th name in the array with a new name

arr8.pop(3)
print("\nAfter replace 4th item : ", arr8)


# d) Remove the last name from the array.

arr8.pop(-1)
print("\nAfter remove last element : ", arr8)


# e) Display the final array of names.

print("\nThe final array is : ",arr8)

The original array :  array('i', [1, 2, 3, 4, 5, 6, 7, 8])

After add two elements :  array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

After replace 4th item :  array('i', [1, 2, 3, 5, 6, 7, 8, 9, 10])

After remove last element :  array('i', [1, 2, 3, 5, 6, 7, 8, 9])

The final array is :  array('i', [1, 2, 3, 5, 6, 7, 8, 9])

In [ ]:
# Question 3: Searching in Arrays

#a) Create an array of 15 random integers.

import array
import random

# Create an array of 12 integers in random order
original_array = array.array('i', [random.randint(1, 100) for _ in range(15)])
print(len(original_array))

# b) Prompt the user to enter a number to search for in the array.

search_number = int(input("Enter a number to search for in the array: "))
print(search_number)

# c) Check if the user's input exists in the array and display an appropriate message.

if search_number in arr8:
    print(f"{search_number} is in the array.")
    #ALSO USE, print(search_number, "is in the array.")
else:
    print(f"{search_number} is not in the array.")
    #ALSO USE, print(search_number, "is not in the array.")


# NOTE : The f"{search_number} is in the array." is an f-string.
# It dynamically inserts the value of the search_number variable into the string.

15
Enter a number to search for in the array: 94834739
94834739
94834739 is not in the array.

In [ ]:
# Question 4: Array Sorting


# a) Create an array of 12 integers in random order.

import array
import random

# Create an array of 12 integers in random order
original_array = array.array('i', [random.randint(1, 100) for _ in range(12)])


# b) Arrange the array in reverse order.

original_array.reverse()


# c) Display both the arrays.

print("Original Array:", original_array)
reversed_array = array.array('i', original_array)
reversed_array.reverse()
print("Reversed Array:", reversed_array)
print(type(original_array))

Original Array: array('i', [74, 3, 37, 68, 95, 27, 30, 86, 18, 4, 22, 86])
Reversed Array: array('i', [86, 22, 4, 18, 86, 30, 27, 95, 68, 37, 3, 74])
<class 'array.array'>